.Calculator {
  display: flex;
  background-color: #535353;
  margin: 50px auto;
  width: 585px;
  height: 810px;
  border-radius: 21px;
  flex-direction: column;
  border: 1px solid #979797;
  outline: 1px solid black;
  outline-offset: 0px;
  box-shadow: 0px 0px 50px #777777;
  justify-content: space-between;
  align-self: center;
}
.Buttons {
  display: grid;
  grid-template-columns: 75% 25%;
  height: 75%;
}

@media (min-width: 300px) {
  .Calculator {
    width: 780px;
    height: 1080px;
   
  }
  button{
    touch-action: manipulation;
  }
}

@media (min-width: 1080px) {
  .Calculator {
    width: 585px;
  height: 810px;
  }
}
