.Calculator {
  display: flex;
  background-color: #535353;
  margin: 10% auto;
  width: 390px;
  height: 540px;
  border-radius: 14px;
  flex-direction: column;
  border: 1px solid #979797;
  outline: 1px solid black;
  outline-offset: 0px;
  box-shadow: 0px 0px 50px #777777;
  justify-content: space-between;
  align-self: center;

}
.Buttons {
  display: grid;
  grid-template-columns: 75% 25%;
  height: 75%;
}
