.Symbols {
  button {
    font-size: 29px;
    background-color: #646464;
  }
}
.SymbolsColumn {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(5, 20%);
  button {
    border-radius: 0px;
    border-left: none;
    border-bottom: none;
    border-top: 2px solid #535353;
    border-right: none;
    background-color: #ff9f0a;
    color: #ebebeb;
    font-family: "Inter", sans-serif;
    font-weight:400;
    font-size: 42px;
  }
  #SymbButt7 {
    border-bottom-right-radius: 13px;
    
  }
}
