.ThemeDiv{
    display: flex;
    flex-direction: row;
    gap: 15px;
    
    border-bottom-left-radius: 13px;
    .ThemeColor{
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
}

@media (min-width: 300px) {
    
    .ThemeColor{
        height: 40px;
        width: 40px;
    }
    .ThemeDiv{
        margin-top: 15px;
    margin-left: 20px; 
    }
  }
  @media (min-width: 1080px) {
    .ThemeColor{
        height: 30px;
        width: 30px;
    }
    .ThemeDiv{
        margin-top: 12px;
        margin-left: 11px;
    }
  }
  