.ThemeDiv{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 12px;
    margin-left: 11px;
    border-bottom-left-radius: 13px;
    .ThemeColor{
        border: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        cursor: pointer;
    }
}